<?xml version="1.0" encoding="UTF-8"?>
<Configuration >
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="logPath">C:\\logs</Property>

    </Properties>

    <!-- Logging Appenders -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="fileLogger" fileName="${APP_LOG_ROOT}/log.log" filePattern="${APP_LOG_ROOT}/log.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy>
                </OnStartupTriggeringPolicy>
            </Policies>
        
        </RollingFile>
    </Appenders>
    <!-- Logging Loggers -->
    <Loggers>

        
        

        <Root level = "TRACE">
            <AppenderRef ref="console"/>
            <AppenderRef ref="fileLogger"/>
        </Root>

    </Loggers>

</Configuration>
